@import url("reset.css");
@import url("font.css");

body {
    background-color : white;
}

#wrap {
    width : 1300px auto !important;
    padding : 0;
    max-width : 1300px;
}

#container {
    width : 100%;  float : clear;
}

#search_button {
    padding-left : 10px; padding-right : 10px; padding-top : 6px; padding-bottom : 6px; margin : -5px; background-color:#0B09AB; border-radius: 10%;
}

/* 최상단 */
#topmenu {
    height : 60px;
}

#topmenu > #logo {
    float : left; width : 190px; height : 100%; background-color : blue;
}

#topmenu > #searchdiv {
    float : right; height : 100%;
    max-width : 500px;
    width : 500px;
}

#content {
    margin-left : 190px;
}

#topmenu > #submenu {
    height : 100%;
    float : both;
    text-align : left;
}

#subinner {
    font-size : 6pt; 
    padding-left : 25px; 
    line-height: 60px;
    font-weight: bold;
}

#subinner > .inner_menu {
    margin-left : 5px;
    margin-right : 5px;
    cursor : pointer;
}

#search {
    width: 200px;
    padding: 8px 12px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* 최상단 */

/* Left */
.innerspan {
    display:inline-block; 
    
    border-bottom : 1px solid #3096BA;
    background-color : #3072BA;
    color : white;
    height : 35px;
    padding-left : 17px;
    padding-top : 15px;
    width : 173px;
}

.itemmenu {
    background-color : #000F5C;
    overflow: hidden;
    font-size : 10pt;
    line-height: 35px;
    padding-left : 25px; 
    color : white;
    width : 165px;
}

.hidden {
    display : none;
}

.innerspan:hover {
    cursor : pointer;
    text-decoration: underline;
}

.item:hover {
    cursor : pointer;
    text-decoration: underline;
}

/* Left */

@media (min-width: 1023px) {
    #wrap {
        height: auto !important;
        overflow: visible !important;
    }
}

.show {
    display : block;
    -webkit-animation: slidein 1s ease-out;
    /* Safari 4+ */
    -moz-animation: slidein 1s ease-out;
    /* Fx 5+ */
    -o-animation: slidein 1s ease-out;
    /* Opera 12+ */
    animation: slidein 1s ease-out;
    /* IE 10+ */
}

#leftbar {
    float : left; width : 190px; background-color : #ccc; 
}


@media screen and (min-width : 1491px) {
    #wrap {
        margin : 0 auto;
    }
}

.slidein {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

/*Animation functionality*/
@-webkit-keyframes slidein {
    0% { height: 0; }
    100% { height : 280px; }
}

@-moz-keyframes slidein {
    0% { height: 0; }
    100% { height: 280px; }
}
@-o-keyframes slidein {
    0% { height: 0; }
    100% { height: 280px; }
}

@keyframes slidein  {
    0% { height: 0; } 
    100% { height : 280px;}
}

/*
    calc로는 element 의 height를 못 계산하니까 눈대충으로 가장 어색하지 않은 300으로 맞춤
*/

/* Banner */
.banner {
    width : 100%;
    height : 500px;
    animation: bannerfadein 1s;
    -moz-animation: bannerfadein 1s; /* Firefox */
    -webkit-animation: bannerfadein 1s; /* Safari and Chrome */
    -o-animation: bannerfadein 1s; /* Opera */
}

img.banner:hover {
    cursor : pointer;
}

.slidelink {
    color : transparent; 
    z-index : 99;
}

#sliderdot {
    position : relative; left : 25px; display : inline-block; z-index : 100; background-color : transparent;
}

.dot {
    background-color : white; 
    color : transparent;
    border-radius: 18px;
    width : 20px;
    opacity: 0.3;
    display : inline-block;
    margin-left : 10px;
}

a.dot:hover {
    opacity : 0.7;
}

.selecteddot {
    opacity: 0.6;
    width : 80px;
    background-color : #8FFFC3;

    animation: dotfade 1s;
    -moz-animation: dotfade 1s; /* Firefox */
    -webkit-animation: dotfade 1s; /* Safari and Chrome */
    -o-animation: dotfade 1s; /* Opera */
}

@keyframes bannerfadein {
    0% { opacity:0.2; }
    100% { opacity:1; }
}
@-moz-keyframes bannerfadein { 
    0% { opacity:0.2; }
    100% { opacity:1; }
}
@-webkit-keyframes bannerfadein { 
    0% { opacity:0.2; }
    100% { opacity:1; }
}
@-o-keyframes bannerfadein { 
    0% { opacity:0.2; }
    100% { opacity:1; }
}

/* Dot fade */
@keyframes dotfade {
    50% { width : 35px; opacity : 0.4; }
    98% { width : 79px;opacity : 0.5; }
}
@-moz-keyframes dotfade { 
    50% { width : 35px; opacity : 0.4; }
    98% { width : 79px;opacity : 0.5; }
}
@-webkit-keyframes dotfade { 
    50% { width : 35px; opacity : 0.4; }
    98% { width : 79px;opacity : 0.5; }
}
@-o-keyframes dotfade { 
    50% { width : 35px; opacity : 0.4; }
    98% { width : 79px;opacity : 0.5; }
}
/* Dot fade */

/* Banner */

#newstitle > a {
    border : 1 #ccc solid;
}

a.linked_new {
    font-size : 10pt;
    width : 80px;
    display : inline-block; 
    height : 100%;
    margin : 0; padding : 0;
    text-align: center;
    line-height: 50px;
    color : black;
    cursor : pointer;
}

.news_menu {
    height : 50px; width : 70%; float : left; text-align : right;
}

a.linked_new:hover {
    color :aqua;
}

a.selected_view {
    color :#3072BA;
    border-bottom : 2px black solid ;
}

.newsvisible {
    animation: newsfadein 1s;
    -moz-animation: newsfadein 1s; /* Firefox */
    -webkit-animation: newsfadein 1s; /* Safari and Chrome */
    -o-animation: newsfadein 1s; /* Opera */
}

.tabboard {
    margin : 0; padding : 0; 
    width : 100%;
}

.newshidden {
    display : none;
}

@keyframes newsfadein {
    0% { display : block; opacity : 0.1; }
    60% { opacity : 0.5;}
    100% { opacity: 1; }
}
@-moz-keyframes newsfadein { 
    0% { display : block; opacity : 0.1; }
    60% { opacity : 0.5;}
    100% { opacity: 1; }
}
@-webkit-keyframes newsfadein { 
    0% { display : block; opacity : 0.1; }
    60% { opacity : 0.5;}
    100% { opacity: 1; }
}
@-o-keyframes newsfadein { 
    0% { display : block; opacity : 0.1; }
    60% { opacity : 0.5;}
    100% { opacity: 1; }
}

.border_bottom_white {
    border-bottom : 2px solid gold; 
}

.news_print {
    float : left; height : 50px; width : 30%;
    font-size : 25pt;
    font-weight: bold;
}

.emp {
    color : #3072BA;
    font-size : 28pt;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    background-color : beige;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 23.5%;
    margin-top : 15px;
  }
  
  @media screen and (max-width : 1005px) {
    .responsive {
        width: 30.9999%;
    }
}
