@import url("reset.css");
@import url("font.css");

body {
    margin : 0; padding : 0;
}

@media(min-width : 750px) {
    header {
        height: 50px;
    }

    #topmenu li {
        margin : 0 10px;
        float : left;
    }

    .item {
        font-size : 7pt;
    }

    .home {
        width: 25px; height: 25px;
        background: url('../images/top.png') no-repeat -102px -55px ;
    }

    .login {
        width: 54px; height: 25px;
        background: url('../images/top.png') no-repeat -10px -55px;
    }

    .info {
        width: 42px; height: 25px;
        background: url('../images/top.png') no-repeat;
        background-position: -102px -10px;
    }

    .join {
        width: 72px; height: 25px;
        background: url('../images/top.png') no-repeat -10px -10px;
    }

    #topmenu div {
        float : both;
    }

    .hidden {
        display: none;
    }

    .active {
        display : block;
    }
}


@media(max-width : 750px) {
    header {
        display: none;
    }
}



#wrap {
    width: 100%;
}